.item-wrapper {
  margin: 0 auto;
  position: relative;
  width: 50rem;
}
.item {
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  display: flex;
  border-bottom: 2px solid #F4F0F0;
}
.item .item-img {
  margin: 1.5rem;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.item .item-img img {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  object-fit: cover;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.item .item-description {
  width: 100%;
  display: block;
  text-align: left;
  border-right: 2px solid #F4F0F0;
}
.item .item-description .item-description__h3 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.6rem;
}
.item .item-description .item-description__p {
  font-size: 0.9rem;
  margin: 0.3rem 0;
  color: #acb1c3;
}
.item-navigation {
  margin: 0 1rem;
  width: 24rem;
}
.item-navigation .item-navigation__top {
  width: 100%;
  display: block;
  text-align: right;
  margin-bottom: 1.8rem;
}
.item-navigation .item-navigation__top svg {
  cursor: pointer;
}
.item-navigation .item-navigation__bottom {
  display: flex;
  align-items: baseline;
}
.item-navigation .item-navigation__bottom .item-navigation__bottom-left {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.item-navigation .item-navigation__bottom .item-navigation__bottom-left .item-navigation__bottom-btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
  border: 2px solid #F4F0F0;
  white-space: nowrap;
  padding: 0.08rem 0.5rem;
  font-size: 1.5rem;
  line-height: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item-navigation .item-navigation__bottom .item-navigation__bottom-left .item-navigation__bottom-btn:nth-child(1) {
  padding: 0.08rem 0.6rem;
}
.item-navigation .item-navigation__bottom .item-navigation__bottom-left input{
  display: block;
  width: 1.3rem;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-size: 1rem;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #F4F0F0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  text-align: center;
}
.item-navigation .item-navigation__bottom .item-navigation__bottom-right__p {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  font-weight: 600;
}
.outcome-wrapper {
  position: relative;
  width: 100%;
  text-align: right;
  margin: 1rem 0;
}
.outcome-wrapper .outcome-price {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.outcome-wrapper .outcome-btn {
  color: #525050;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #A7A5A5;
  padding: 0.6rem 3rem;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
.outcome-wrapper .outcome-btn:active {
  transform: scale(0.98);
}
.outcome-wrapper .outcome-btn:hover {
  background: #9B9A9A;
}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media only screen and (max-width: 768px){
  .item-navigation {
    width: 25%;
  }
  .item-navigation .item-navigation__bottom {
    display: block;
  }
  .item-navigation .item-navigation__bottom .item-navigation__bottom-left,
  .item-navigation .item-navigation__bottom .item-navigation__bottom-right {
    width: 100%;
  }
  .item-navigation .item-navigation__bottom .item-navigation__bottom-right__p {
    width: 100%;
    display: block;
    text-align: right;
  }
  .item .item-img img {
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
  }
  .item .item-img {
    margin: 0.5rem;
  }
  .item {
    padding: 0.5rem;
  }
  .item-wrapper {
    width: 25rem;
  }
}


